<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <title>Play in board game</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="message"></div>
    <table>
      <tr>
        <td><img src="/images/up-left-side.svg" alt="up-left"></td>
        <td><img src="/images/up-side.svg" alt="up"></td>
        <td><img src="/images/up-right-side.svg" alt="up-right"></td>
      </tr>
      <tr>
        <td><img src="/images/left-side.svg" alt="left"></td>
        <td><img src="/images/cross.svg" alt="cross"></td>
        <td><img src="/images/right-side.svg" alt="right"></td>
      </tr>
      <tr>
        <td><img src="/images/down-left-side.svg" alt="down-left"></td>
        <td><img src="/images/down-side.svg" alt="down"></td>
        <td><img src="/images/down-right-side.svg" alt="down-right"></td>
      </tr>
    </table>
    <script src="/javascripts/game.js"></script>
  </body>
</html>
